.carousel-container {
  position:relative;
  width: 500px;
  height:500px;
  overflow: hidden;
}
.red {
    background-color: #FF0000;
    width: 100%;
    height: 100%;
}
.green {
    background-color: #00FF00;
    width: 100%;
    height: 100%;
}
.blue {
    background-color: #0000FF;
    width: 100%;
    height: 100%;
}

.slide {
    width: 500px;
    height: 500px;
    
    position: absolute;
    top: 0;
    left: 0;
}

.slide.ng-hide-add, .slide.ng-hide-remove, .slide.ng-hide-add-active, .slide.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block!important;
}

.slide.left.ng-hide-remove, .slide.right.ng-hide-add.ng-hide-add-active {
    left: 100%;
}

.slide.left.ng-hide-remove.ng-hide-remove-active, .slide.left.ng-hide-add, .slide.right.ng-hide-remove.ng-hide-remove-active, .slide.right.ng-hide-add {
    left: 0;
}

.slide.left.ng-hide-add.ng-hide-add-active, .slide.right.ng-hide-remove {
    left: -100%;
}