<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Angular JS Tests</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body ng-app="app" ng-controller="AppCtrl as app">
        
        <div ng-init="myExp='one'">
            <button ng-click="gotoPage(currPage - 1, 'Right')">Prev</button>
            <button ng-click="gotoPage(currPage + 1, 'Left')">Next</button>

            <!--div ng-switch="currPage" class="my-switch-container">
                <div ng-switch-when="0" class="red slide" ng-class="{left: isSlideLeft, right: isSlideRight}"></div>
                <div ng-switch-when="1" class="green slide" ng-class="{left: isSlideLeft, right: isSlideRight}"></div>
                <div ng-switch-when="2" class="blue slide" ng-class="{left: isSlideLeft, right: isSlideRight}"></div>
            </div-->
            
            <div class="my-switch-container">
              <div ng-hide="currPage !== 0" class="slide" ng-class="{left: isSlideLeft, right: isSlideRight}">
                <div class="red"></div>
              </div>
              <div ng-hide="currPage !== 1" class="slide" ng-class="{left: isSlideLeft, right: isSlideRight}">
                <div class="green"></div>
              </div>
              <div ng-hide="currPage !== 2" class="slide" ng-class="{left: isSlideLeft, right: isSlideRight}">
                <div class="blue"></div>
              </div>
            </div>
        </div>
        
        <script type="text/javascript" src="scripts/lib/tweenmax/src/uncompressed/TweenLite.js"></script>
        <script type="text/javascript" src="scripts/lib/angular/angular.js"></script>
        <script type="text/javascript" src="scripts/lib/angular/angular-animate.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
    </body>
</html>
