<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Angular JS Tests</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body ng-app="app" ng-controller="AppCtrl as app">
        
        <div>
            <button ng-click="gotoPage(currPage - 1, 'right')">Prev</button>
            <button ng-click="gotoPage(currPage + 1, 'left')">Next</button>
            
            <div class="carousel-container">
              <div class="slide slide-animation" ng-hide="currPage !== 0">
                <div class="red"></div>
              </div>
              <div class="slide slide-animation" ng-hide="currPage !== 1">
                <div class="green"></div>
              </div>
              <div class="slide slide-animation" ng-hide="currPage !== 2">
                <div class="blue"></div>
              </div>
            </div>
        </div>

        <script type="text/javascript" src="scripts/lib/tweenmax/src/uncompressed/TweenMax.js"></script>
        <script type="text/javascript" src="scripts/lib/angular/angular.js"></script>
        <script type="text/javascript" src="scripts/lib/angular/angular-animate.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
    </body>
</html>
